@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
padding: 0;
margin:0;
box-sizing: 0;
}

:root{
    --ripelemon:#F3E31B;
    --black:#040404;
    --butteredrum:#97880A;
    --yukongold:#7C6C04;
    --white:#fff;
    --max-width: 1400px;
    --padding: 8px;
    --margin: 10px;
    --border-radius: 8px;
    --transition: 1s;
    --font-size: 16px;
}


::selection{
    background: var(--ripelemon);
    color: var(--white);
}

body{
    background: var(--black);
    color:var(--white);
    font-size: var(--font-size);
    font-family: "Montserrat", "sans-serif";
    line-height: 24px;
}

header{
    text-align: center;
    background: var(--black);
    color:var(--ripelemon);
    border-bottom: solid 1px var(--white);
    padding: var(--padding);
    margin-bottom: var(--margin);
}

section{
    padding: var(--padding);
}
a{
    color:var(--yukongold);
    text-decoration: none;
}

h1,h2{
    padding: var(--padding);
}

p{
    font-size: 1rem;
    margin: 0 0 var(--margin);
    color: var(--white)
}

p::first-letter{
    font-size: 1.4rem;
    color:var(--ripelemon);
    font-weight: bold;
}

ul{
    list-style: none;
}

ul.list > li.item {
    cursor: pointer;
}

li.item:hover a{
color:var(--black);
}

.container{
    max-width: var(--max-width);
    margin:0 auto;
    padding: 0 --padding;
}

.card{
    width: 450px;
    border: solid 1px var(--ripelemon);
    border-radius: var(--border-radius);
    margin: 0 auto;
}

.card__header{
    padding: var(--padding);
}

.card__title{
    text-wrap: wrap;
    word-break: break-all;
}

.card__body{
    padding: var(--padding);
}

.card__img{
    width: 100%;
}

.button{
    padding: var(--padding);
    background: var(--ripelemon);
    color: var(--black);
    border-radius: var(--border-radius);
    border: solid 0.5px var(--ripelemon);
    font-size: .9rem;
    font-weight: 500;
    display: inline-flex;
    justify-content: space-between;
    transition: var(--transition);
}

.button__text{}
.button__icon{
    font-size: 1.4rem;
    align-items: center;
}

.button--outline{
    background: var(--black);
    color: var(--ripelemon);

}
.button:hover{
    background: var(--black);
    color: var(--ripelemon);
}
.button--outline:hover{
    background: var(--ripelemon);
    color:var(--black)
}

.list{
    text-align: center;
    padding: var(--padding);

}

.list__item{
    border-bottom:solid 1px var(--yukongold);
    padding:var(--padding);
    transition: var(--transition);
    font-size: 1.2rem;
}

.list__item:hover{
    background: var(--butteredrum);
    color: var();
}